name: Rust

on:
  push:
    branches: [ "main", "release/*" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        build_type: [release, debug]
    runs-on: ${{ matrix.os }}
    steps:
    - name: Get ço lô
      uses: actions/checkout@v4
    - name: Build
      if: ${{matrix.build_type}} == release
      run: cargo build --verbose --release
    - name: Build
      if: ${{matrix.build_type}} != release
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
    - name: Prends ça chacalito
      uses: actions/upload-artifact@v4
      with:
        name: ${{matrix.os}}-${{matrix.build_type}}
        path: |
          target/${{matrix.build_type}}/laCiCarre
  run:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        build_type: [release, debug]
    runs-on: ${{ matrix.os }}
    steps:
    - name: Download a single artifact
      uses: actions/download-artifact@v4
      with:
        name: ${{matrix.os}}-${{matrix.build_type}}
    - name: karistude
      run: |
        chmod +x ${{matrix.os}}-${{matrix.build_type}}
        ./${{matrix.os}}-${{matrix.build_type}}

